.frame {
	position: absolute;
	top: $height-menu;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 3;

	display: flex;
	justify-content: space-between;

	@include widthLT {
		border-top-left-radius: $border-radius;
		border-top-right-radius: $border-radius;
		background: $paper-frame;
		box-shadow: inset $shadow-frame;
		overflow-y: auto;

		flex-direction: column;
	}

	&__info {
		position: relative;
		width: 50%;
		height: 100%;
		padding: $height-footer;
		order: 2;

		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;

		border-top-left-radius: $border-radius;
		border-top-right-radius: $border-radius;
		background: #cebaa2;
		box-shadow: $shadow;

		@include widthHD {
			width: 45%;
		}

		@include widthPC {
			width: 40%;
		}

		@include widthLT {
			position: static;
			width: 100%;
			height: auto;

			border-top-left-radius: 0;
			border-top-right-radius: 0;
			background: none;
			box-shadow: none;
		}

		@include min-height {
			justify-content: space-between;
		}

		&::after {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			left: 10px;
			width: 8px;
			background: linear-gradient(to left, #333 0%, transparent 100%);
			opacity: 0.5;

			@include widthLT {
				content: none;
			}
		}

		&::before {
			content: "";
			@include position-size-parent;
			z-index: 1;
			background: url(../img/texture-skin.svg);
			opacity: 0.5;

			@include widthLT {
				content: none;
			}
		}

		&-title {
			margin-top: 10%;
			font-family: mc;
			font-size: 35px;
			color: $ocean;
			opacity: 0.4;

			@include widthLT {
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);

				opacity: 0.2;
			}
		}

		&-illustration {
			width: 70%;
			height: 60%;

			@include min-height {
				@include position-center;
				opacity: 0.5;
			}

			@include widthLT {
				@include position-center;

				opacity: 0.2;
			}
		}

		&-contact {
			position: relative;
			z-index: 2;

			width: 250px;
			height: 100px;
			padding: 10px;

			display: grid;
			place-items: center;
			grid-template-columns: 1fr 2fr;
			grid-template-areas: "art about"
				"art email";
			color: $brown;

			background: url(../img/border-contacts.svg);

			& svg {
				grid-area: art;
				fill: $brown;
			}

			& .about {
				grid-area: about;
			}

			& .email {
				grid-area: email;
			}
		}

		&-copyright {
			align-self: end;
			margin-top: 20px;
			margin-right: 40px;
		}
	}

	&__manage {
		position: relative;
		width: $width-manage;
		height: 100%;
		padding: 20px;
		order: 1;

		overflow-y: auto;

		border-top-left-radius: $border-radius;
		border-top-right-radius: $border-radius;
		background: $paper-frame;
		box-shadow: inset $shadow-frame;

		@include widthHD {
			width: $widthHD-manage;
		}

		@include widthLT {
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			background: none;
			box-shadow: none;

			width: 100%;
			height: auto;
			overflow-y: visible;

		}

		&>div {
			display: none;
		}

		&-pass {
			width: 450px;
			margin: 10% auto 0;
			padding: 25px;

			@include widthMob {
				width: 100%;
			}


			& input,
			& button {
				display: block;
				width: 100%;
				margin-top: 50px;
				padding: 20px;
				box-sizing: border-box;
				border: 1px solid $brown;
				border-radius: $border-radius;
				font-size: 14px;
				color: $brown;
			}

			& button {
				text-transform: uppercase;
				background: $paper-title;
			}
		}
	}
}

// Отключение "закруглённых углов" 
#frame-new:checked~.grid-main .frame,
#frame-new:checked~.grid-main .frame__manage {
	border-top-left-radius: 0;
}

#frame-help:checked~.grid-main .frame,
#frame-help:checked~.grid-main .frame__manage {

	@include widthHD {
		border-top-right-radius: 0;
	}
}

.pass {

	&__head {
		width: 100%;
		color: #999;

		display: flex;
		justify-content: space-between;

		& label {
			width: 50%;
			padding: 15px;
			border-bottom: 2px solid #eee;
			text-align: center;
		}
	}

	&__enter,
	&__registration {
		display: none;
	}

}

#enter:checked~.grid-main .pass__head-enter,
#registration:checked~.grid-main .pass__head-registration {
	border-bottom: 2px solid $brown;
	font-size: 18px;
	font-weight: 700;
	color: $brown;
}

#enter:checked~.grid-main .pass__enter,
#registration:checked~.grid-main .pass__registration {
	display: block;
}

// Кнопка Закрыть при управлении мышкой + большие экраны
.close {
	position: fixed;
	top: 20px + $height-header;
	right: calc(100% - #{$width-manage});
	width: 30px;
	height: 30px;
	line-height: 25px;
	border: 1px solid $close;
	border-radius: 15px;
	background: none;
	opacity: 0.3;
	transition: all $timeout;

	@include widthHD {
		right: calc(100% - #{$widthHD-manage} - #{$marginPC});
	}

	@include widthPC {
		right: calc(100% - #{$widthHD-manage});
	}

	@include widthLT {
		right: 8%;
	}

	// Надпись "Закрыть" в состоянии наведения
	& span {
		display: none;
		overflow: hidden;
		text-align: center;
		color: $close;
	}

	// Х в пассивном режиме
	& svg {
		@include position-center;
		fill: $close;
	}

	&:hover {
		width: 80px;
		opacity: 1;
		cursor: pointer;
		border: 1px solid $close;
		background: #fff;

		& span {
			display: block;
		}

		& svg {
			display: none;
		}
	}
}

#frame-off:checked~.grid-main .frame {
	display: none;
}

#frame-pass:checked~.grid-main .frame__manage-pass {
	display: block;
}

#frame-new:checked~.grid-main .frame__manage-new {
	display: block;
}

#frame-profile:checked~.grid-main .frame__manage-profile {
	display: block;
}

#frame-options:checked~.grid-main .frame__manage-options {
	display: block;
}

#frame-help:checked~.grid-main .frame__manage-help {
	display: block;
}

#frame-stat:checked~.grid-main .frame__manage-stat {
	display: block;
}