.panel {
	display: flex;
	justify-content: space-between;
	flex-direction: column;

	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 8;
	width: 450px;
	height: 95%;
	overflow: hidden;

	min-height: 0;
	margin: auto 0;
	height: 95%;
	padding: 40px 0;
	border-top-left-radius: 40px;
	border-bottom-left-radius: 40px;
	background: #eedebe;
	background-image: url(../img/texture-panel.svg);
	box-shadow: $shadow;

	transition: all $timeout;

	&::before {
		content: "";
		position: absolute;
		top: 10px;
		bottom: 10px;
		left: 10px;
		right: 0;
		z-index: -1;
		border-top-left-radius: 40px;
		border-bottom-left-radius: 40px;
		border-top: $brown dashed 2px;
		border-bottom: $brown dashed 2px;
		border-left: $brown dashed 2px;
	}

	&-fix-label {
		position: absolute;
		top: 10%;
		left: 0;
		width: 45px;
		height: 100px;

		border-top-right-radius: $border-radius;
		border-bottom-right-radius: $border-radius;
		background-color: #ba253c;
		box-shadow: $shadow;

		@include widthTab {
			position: fixed;
			left: auto;
			right: 0;
			width: 30px;
			z-index: 10;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			border-top-left-radius: $border-radius;
			border-bottom-left-radius: $border-radius;
		}

		&::before {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			left: 10px;
			right: 0;
			border-left: $brown dashed 2px;

			@include widthTab {
				content: none;
			}
		}

		label {
			display: none;
			@include position-size-parent;
			z-index: 12;

			&:hover {
				cursor: pointer;
				border-top-right-radius: $border-radius;
				border-bottom-right-radius: $border-radius;
				background-color: rgba(#eb9ca8, 0.4);
			}
		}

		svg {
			@include position-center;
			fill: #751724;
		}
	}
}



//* -----------------------------------------------
.date {
	position: relative;
	width: $width-todo + 10px;
	height: 210px;
	margin: 0 auto;
	padding: 5px;
	border-radius: $border-radius;
	border: $brown dashed 2px;
	box-sizing: border-box;

	opacity: 1;
	overflow: hidden;
	transition: all $timeout;

	&::before {
		content: "";
		@include position-size-parent;
		z-index: -1;
		margin: 5px;
		border-radius: $border-radius;
		background: $paper-todo;
		box-shadow: inset $shadow;
	}

	&__week {
		height: 40px;
	}
}

//* -----------------------------------------------
.todo {
	position: relative;
	width: $width-todo;
	height: calc(100% - 200px - 40px);
	margin: 0 auto;
	border-radius: $border-radius;

	background: $paper-todo;
	box-shadow: $shadow;

	opacity: 1;
	transition: all $timeout;

	&::after {
		content: "";
		position: absolute;
		top: $todo-head - 2px;
		left: 50%;
		transform: translateX(-50%);
		z-index: -2;
		width: 380px;
		border-bottom: $brown dashed 2px;
	}

	&__head {
		height: $todo-head;
		border-top-left-radius: $border-radius;
		border-top-right-radius: $border-radius;
		border-bottom: 1px solid #b8b8cc;
		background: $paper-todo-title;
	}

	&__list {
		margin: 0 10px;
		height: calc(100% - #{$todo-head});
		overflow-y: scroll;
	}

	&__task {
		height: 40px;
		border-bottom: 1px solid #b8b8cc;

		&:hover {
			background: $paper-hover;
		}
	}
}

#panel-fix:checked~.panel .panel-fix-label svg {
	fill: #eb9ca8;
}

#money:checked~.panel {

	width: 50px;

	&:hover {
		width: 450px;
	}

	&:hover .date {
		width: $width-todo + 10px;
		opacity: 1;
	}

	&:hover .todo {
		width: $width-todo;
		opacity: 1;
	}

	.panel-fix-label label {
		display: block;
	}

	& .date,
	& .todo {
		width: 0;
		opacity: 0;
	}
}

#money-off:checked~.panel,
#panel-fix:checked~.panel {
	width: 450px;

	& .date {
		width: $width-todo + 10px;
		opacity: 1;
	}

	& .todo {
		width: $width-todo;
		opacity: 1;
	}
}

#money-off:checked~.panel {
	.panel-fix-label label {
		display: none;
	}
}

#frame-pass:checked~.panel,
#frame-new:checked~.panel,
#frame-profile:checked~.panel,
#frame-options:checked~.panel,
#frame-help:checked~.panel,
#frame-stat:checked~.panel {
	width: 30px;

	.panel-fix-label label {
		display: none;
	}

	&:hover {
		width: 30px;
	}

	&:hover .date,
	&:hover .todo {
		width: 0;
		opacity: 0;
	}

	& .date,
	& .todo {
		width: 0;
		opacity: 0;
	}
}

//! ------------------------   Адаптивность

@media (max-width: $widthHD) {

	#frame-off:checked~.panel {
		width: 50px;

		&:hover {
			width: 450px;
		}

		.panel-fix-label label {
			display: block;
		}

		& .date,
		& .todo {
			width: 0;
			opacity: 0;
		}

		&:hover .date {
			width: $width-todo + 10px;
			opacity: 1;
		}

		&:hover .todo {
			width: $width-todo;
			opacity: 1;
		}
	}

	#panel-fix:checked~.panel {
		width: 450px;

		& .date {
			width: $width-todo + 10px;
			opacity: 1;
		}

		& .todo {
			width: $width-todo;
			opacity: 1;
		}
	}
}

//! ------------------------   1350
@media (max-width: $widthPC) {

	#frame-pass:checked~.panel,
	#frame-new:checked~.panel,
	#frame-profile:checked~.panel,
	#frame-options:checked~.panel,
	#frame-help:checked~.panel,
	#frame-stat:checked~.panel {
		display: none;
	}
}

//! ------------------------   800

@media (max-width: $widthTab) {

	#frame-off:checked~.panel {
		width: 20px;
		height: 98%;

		&:hover {
			width: 20px;
		}

		& .date,
		& .todo {
			width: 0;
			opacity: 0;
		}

		&:hover .date {
			width: 0;
			opacity: 0;
		}

		&:hover .todo {
			width: 0;
			opacity: 0;
		}
	}

	#panel-fix:checked~.panel {
		width: 450px;
		height: 98%;

		&:hover {
			width: 450px;
		}

		.date,
		&:hover .date {
			width: $width-todo + 10px;
			opacity: 1;
		}

		.todo,
		&:hover .todo {
			width: $width-todo;
			opacity: 1;
		}
	}
}

//! ------------------------   500

@media (max-width: $widthMob) {

	#frame-off:checked~.panel {
		width: 0;
		height: 100%;

		&:hover {
			width: 0;
		}

	}

	#panel-fix:checked~.panel {

		width: 100%;
		height: 100%;

		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		box-shadow: none;

		&::before {
			content: none;
		}

		&:hover {
			width: 100%;
		}

		.date,
		&:hover .date {
			width: calc(80% + 10px);
			opacity: 1;
		}

		.todo,
		&:hover .todo {
			width: 80%;
			opacity: 1;
		}

	}
}

//! ------------------------   height

@media (max-height: $height) {

	.date {
		display: none;
	}

	.todo {
		height: 100%;
	}

}