.frame {
	position: absolute;
	top: $height-menu;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 3;

	display: flex;
	justify-content: space-between;

	@include widthLT {
		border-top-left-radius: $border-radius;
		border-top-right-radius: $border-radius;
		background: $paper-frame;
		box-shadow: inset $shadow-frame;
		overflow-y: auto;

		flex-direction: column;
	}

	//! ----------------------------- Обложка
	&__art {
		position: relative;
		width: 50%;
		height: 100%;
		padding: $height-footer;
		order: 2;

		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;

		border-top-left-radius: $border-radius;
		border-top-right-radius: $border-radius;
		background: #cebaa2;
		box-shadow: $shadow;

		@include widthHD {
			width: 45%;
		}

		@include widthPC {
			width: 40%;
		}

		@include widthLT {
			position: static;
			width: 100%;
			height: auto;

			border-top-left-radius: 0;
			border-top-right-radius: 0;
			background: none;
			box-shadow: none;
		}

		@include min-height {
			justify-content: space-between;
		}

		&::after {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			left: 10px;
			width: 8px;
			background: linear-gradient(to left, #333 0%, transparent 100%);
			opacity: 0.5;

			@include widthLT {
				content: none;
			}
		}

		&::before {
			content: "";
			@include position-size-parent;
			z-index: 1;
			background: url(../img/texture-skin.svg);
			opacity: 0.5;

			@include widthLT {
				content: none;
			}
		}

		// ----------------------------- Обложка заголовок
		&-title {
			margin-top: 10%;
			font-family: mc;
			font-size: 35px;
			opacity: 0.5;

			@include widthLT {
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);

				margin-top: 25px;

				opacity: 0.1;
			}
		}

		// ----------------------------- Обложка картинка
		&-illustration {
			width: 70%;
			height: 60%;

			@include min-height {
				@include position-center;
				opacity: 0.5;
			}

			@include widthLT {
				@include position-center;

				opacity: 0.1;
			}
		}

		// ----------------------------- Обложка визитка
		&-contact {
			position: relative;
			z-index: 2;

			width: 250px;
			height: 100px;
			padding: 10px;

			display: grid;
			place-items: center;
			grid-template-columns: 1fr 2fr;
			grid-template-areas: "art about"
				"art email";
			color: $brown;

			background: url(../img/border-contacts.svg);

			& svg {
				grid-area: art;
				fill: $brown;
			}

			& .about {
				grid-area: about;
			}

			& .email {
				grid-area: email;
			}

			@include widthLT {
				display: none;
			}
		}

		&-copyright {
			align-self: end;
			margin-top: 20px;
			margin-right: 40px;
		}
	}

	//! ----------------------------- Управление
	&__manage {
		position: relative;
		width: $width-manage;
		height: 100%;
		padding: 20px;
		order: 1;

		overflow-y: auto;

		border-top-left-radius: $border-radius;
		border-top-right-radius: $border-radius;
		background: $paper-frame;
		box-shadow: inset $shadow-frame;

		@include widthHD {
			width: $widthHD-manage;
		}

		@include widthLT {
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			background: none;
			box-shadow: none;

			width: 100%;
			height: auto;
			overflow-y: visible;

		}

		&-label {
			flex-grow: 1;
			padding: 15px;
			border-bottom: 2px solid #eee;
			color: #999;
			text-align: center;
		}

		// Настройка основных полей форм
		&-input,
		&-input-area {
			margin-top: $margin-frame;

			display: flex;
			justify-content: space-between;
			align-items: center;

			& label {
				width: 30%;
				color: $brown;
			}

			& input,
			& select,
			& textarea {
				width: 65%;
				padding: 7px 15px;

				@include form-input;
			}
		}

		&-input-area label {
			align-self: flex-start;
		}

		& hr {
			border: 0;
			width: 100%;
			height: 1px;
			margin: 30px auto 0;
			background: $paper-frame;
			background-image: linear-gradient(to left, $paper-frame, $ocean, $paper-frame);
		}

		&-form {
			display: flex;
			justify-content: space-between;
			flex-direction: column;

			& .form-select-arrow {
				@include form-select-arrow;
			}
		}

		&-title {
			margin: $margin-frame 0 20px;
			font-size: 13px;
			color: $ocean;

			display: flex;
			justify-content: space-between;
			align-items: center;

			& span {
				padding: 0 20px;
				white-space: nowrap;
			}

			& .left-line {
				margin: 0;
				width: 70px;
				background: $paper-frame;
				background-image: linear-gradient(to left, $ocean, $paper-frame);

			}

			& .right-line {
				margin: 0;
				flex-grow: 1;
				background: $paper-frame;
				background-image: linear-gradient(to left, $paper-frame, $ocean);
			}

			&+div {
				margin-top: 0;
			}
		}

		&-checkbox {
			margin-top: 30px;
			padding: 0 30px;

			&>input {
				display: none;
			}

			& input+label {
				position: relative;
				color: $brown;

				display: flex;
				align-items: center;

				&::before {
					content: "";
					display: inline-block;
					width: 15px;
					height: 15px;
					margin-right: 30px;
					border: 1px solid $input-border;
					border-radius: $border-radius;
					background-color: $paper-frame;
				}
			}

			& input:checked+label::before {
				border: 1px solid $brown;
				background-color: $paper-title;
			}

			& input:checked+label::after {
				content: "";
				position: absolute;
				bottom: 3px;
				left: 4px;
				z-index: 3;
				width: 20px;
				height: 20px;
				background: url(../img/icon-check-art.svg) no-repeat;
				background-size: 15px 18px;
			}
		}

		// Отключение видимости блоков для использования Переключателя
		&>div {
			display: none;
		}

		//? ----------------------------- Управление Вход
		&-pass {
			max-width: 450px;
			margin: 10% auto 0;
			padding: 25px;

			@include min-height {
				margin: 0 auto;
			}
		}

		.pass {

			&__head {
				width: 100%;
				display: flex;
				justify-content: space-between;
			}

			&__enter,
			&__registration {
				display: none;
			}

			&__input {
				position: relative;
				width: 100%;
				height: 60px;
				margin-top: 50px;

				display: flex;

				& label {
					position: absolute;
					top: 50%;
					left: 20px;
					transform: translateY(-50%);

					font-size: 14px;
					color: rgba($brown, 0.8);

					transition: all $timeout;
				}

				&:hover label,
				& label.fill {
					position: absolute;
					top: 5px;
					left: 20px;
					transform: translateY(0);

					font-size: 13px;
					color: rgba($brown, 0.3);
				}

				& input {
					width: 100%;
					padding: 25px 20px 10px;

					@include form-input;

					border: 1px solid $brown !important;
				}
			}

			&__button {
				display: block;
				width: 100%;
				height: 60px;
				margin-top: 50px;
				padding: 20px;
				text-transform: uppercase;
			}
		}

		//? ----------------------------- Управление Создать
		&-new,
		&-profile,
		&-options,
		&-help,
		&-stat {
			width: 95%;
			margin: 10px auto 0;
			padding: 25px;

			@include widthMob {
				width: 100%;
			}
		}

		.new {

			&__head {
				width: 100%;
				display: flex;
				justify-content: space-between;
			}

			&__project,
			&__task,
			&__event {
				display: none;
				margin-top: $margin-frame-up;
				justify-content: space-between;
				flex-direction: column;

				@include min-height {
					margin-top: 0;
				}
			}

			&__set {
				margin-top: $margin-frame;

				display: grid;
				grid-template-columns: repeat(2, 1fr);
				justify-content: space-between;
				gap: 20px 30px;

				& input,
				& select {
					padding: 5px 10px;
					border: 1px solid $input-border;

					@include form-input;
				}

				& .form-select-arrow {
					@include form-select-arrow;
				}

			}
		}

		//? ----------------------------- Управление Профиль Данные
		.profile {

			&__head {
				width: 100%;

				display: flex;
				justify-content: space-between;
			}

			&__data,
			&__partner,
			&__person {
				display: none;
				border-top: 1px solid transparent; // Убираем схлопывание
				margin-top: $margin-frame-up;

				@include min-height {
					margin-top: 0;
				}
			}

			&__data>div {
				position: relative;
				margin-top: $margin-frame;

				display: flex;
				justify-content: space-around;

				&>p {
					width: 200px;
					align-self: center;
					color: $brown;
				}

				& .info {
					position: absolute;
					top: 100%;
					left: 50%; // Центрирование из-за space-around
					transform: translateX(-50%);
					width: 90%;
					@include info-text;
					text-align: center;
				}

				&>.like-button,
				&>button {
					width: 200px;
					margin-top: 0;
					padding: 7px 20px;
					text-align: center;
				}

				&>input {
					position: absolute;
					z-index: -10;
					opacity: 0;
				}
			}

			&__data-form {

				&>p {
					align-self: flex-start !important;
				}

				& form {
					width: 200px;

					& div {
						margin-bottom: 10px;

						display: flex;
						flex-direction: column-reverse;

						& label {
							margin-left: 10px;
							@include info-text;
						}

						& input {
							padding: 7px 20px;
							@include form-input;
						}
					}

					& button {
						width: 100%;
						margin-top: 0;
					}
				}
			}
		}

		//? ----------------------------- Настройки
		.options {
			&-pin {
				margin-top: 5px;

				display: flex;
				flex-direction: column;
				align-items: flex-end;

				& input {
					order: 2;
					width: 150px;
					margin-top: 5px;
					padding: 7px 15px;
					box-sizing: border-box;
					border: 1px solid $input-border;
					border-radius: $border-radius;
					background: $paper-frame;
				}

				& label {
					order: 1;
					font-size: 12px;
					color: $brown;
				}

				& input:disabled {
					opacity: 0.5;

					&+label {
						opacity: 0.1;
					}
				}
			}

			&-tabs,
			&-marks,
			&-stages {
				display: flex;
				justify-content: space-around;
				align-items: center;

				& label {
					width: 150px;
					height: 25px;
					padding: 0 10px;
					border-radius: $border-radius;
					font-size: 12px;
					line-height: 25px;
					text-align: center;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					color: $brown;
				}

				& input {
					width: 200px;
					margin: 5px 0;
					padding: 7px 15px;
					box-sizing: border-box;
					border: 1px solid $input-border;
					border-radius: $border-radius;
					background: $paper-frame;
				}
			}

			&-stages:first-child {
				margin-top: 20px;
			}
		}

		//? ----------------------------- Настройки
		&-help {
			& p {
				padding: 5px 0;
				line-height: 21px;
			}
		}
	}

}

// Отключение "закруглённых углов" 
#frame-new:checked~.grid-main .frame,
#frame-new:checked~.grid-main .frame__manage {
	border-top-left-radius: 0;
}

#frame-help:checked~.grid-main .frame,
#frame-help:checked~.grid-main .frame__manage {

	@include widthHD {
		border-top-right-radius: 0;
	}
}

#enter:checked~.grid-main .label-enter,
#registration:checked~.grid-main .label-registration,
#project:checked~.grid-main .label-project,
#task:checked~.grid-main .label-task,
#event:checked~.grid-main .label-event,
#data:checked~.grid-main .label-data,
#partner:checked~.grid-main .label-partner,
#person:checked~.grid-main .label-person {
	@include form-label-checked;
}

#enter:checked~.grid-main .pass__enter,
#registration:checked~.grid-main .pass__registration {
	display: block;
}

#project:checked~.grid-main .new__project,
#task:checked~.grid-main .new__task,
#event:checked~.grid-main .new__event {
	display: flex;
}

#data:checked~.grid-main .profile__data,
#partner:checked~.grid-main .profile__partner,
#person:checked~.grid-main .profile__person {
	display: block;
}

// Кнопка Закрыть при управлении мышкой + большие экраны
.close {
	position: fixed;
	top: 20px + $height-header;
	right: calc(100% - #{$width-manage});
	width: 30px;
	height: 30px;
	line-height: 25px;
	border: 1px solid $close;
	border-radius: 15px;
	background: none;
	opacity: 0.3;
	transition: all $timeout;

	@include widthHD {
		right: calc(100% - #{$widthHD-manage} - #{$marginPC});
	}

	@include widthPC {
		right: calc(100% - #{$widthHD-manage});
	}

	@include widthLT {
		right: 8%;
	}

	// Надпись "Закрыть" в состоянии наведения
	& span {
		display: none;
		overflow: hidden;
		text-align: center;
		color: $close;
	}

	// Х в пассивном режиме
	& svg {
		@include position-center;
		fill: $close;
	}

	&:hover {
		width: 80px;
		opacity: 1;
		cursor: pointer;
		border: 1px solid $close;
		background: #fff;

		& span {
			display: block;
		}

		& svg {
			display: none;
		}
	}
}

#frame-off:checked~.grid-main .frame {
	display: none;
}

#frame-pass:checked~.grid-main {

	& .frame__art-contact {
		display: grid;
	}

	& .frame__manage-pass {
		display: block;
	}
}

#frame-new:checked~.grid-main .frame__manage-new {
	display: block;
}

#frame-profile:checked~.grid-main .frame__manage-profile {
	display: block;
}

#frame-options:checked~.grid-main .frame__manage-options {
	display: block;
}

#frame-help:checked~.grid-main {

	& .frame__manage-help {
		display: block;
	}

	& .frame__art-contact {
		display: grid;
	}
}

#frame-stat:checked~.grid-main .frame__manage-stat {
	display: block;
}