.grid-menu {
	height: $height-menu;
	place-items: center;
	font-family: cormorant-infant;
	font-size: 20px;
	font-weight: 600;
	color: $brown;

	li:not(:last-child) {
		width: 100%;
		height: $height-menu;

		label {
			display: block;
			width: 100%;
			height: calc(#{$height-menu} - 20px);
			margin: 10px 0;
			text-align: center;
			line-height: calc(#{$height-menu} - 20px);

			&:hover {
				cursor: pointer;
				color: #ccc;
			}
		}
	}

	&__find {
		width: 100%;
		height: $height-menu;
		text-align: right;
		line-height: $height-menu;
	}

	&__total {

		label {
			width: 100%;
			font-size: 18px;
			font-weight: 700;
			color: $ocean;

			display: flex;
			justify-content: space-between;
			align-items: center;

			&:hover {
				cursor: pointer;
				opacity: 0.5;
			}

			svg {
				margin-left: 5px;
				fill: $ocean;
			}
		}
	}
}

#frame-pass:checked~.grid-main .grid-menu {
	display: none;
}

#frame-new:checked~.grid-main .grid-menu__new label,
#frame-profile:checked~.grid-main .grid-menu__profile label,
#frame-options:checked~.grid-main .grid-menu__options label,
#frame-help:checked~.grid-main .grid-menu__help label,
#frame-stat:checked~.grid-main .grid-menu__stat label {
	height: calc(#{$height-menu} - 15px);
	margin: 15px 0 0 0;
	border-radius: 0px;
	border-top-left-radius: $border-radius;
	border-top-right-radius: $border-radius;
	background: $paper-frame;
	box-shadow: inset $shadow-frame;
	color: #aaa;
}

// Заголовок таблицы (высота в структуре)
.header {
	height: $height-header;
	border-top-left-radius: $border-radius;
	border-top-right-radius: $border-radius;

	&__checkbox {
		width: 100%;
		display: flex;
		justify-content: space-around;

		@include widthTab {
			position: relative;
			justify-self: start;
			width: 150px;
		}

		svg {
			fill: $input-off;
		}

		&-pay {
			@include widthPC {
				display: none;
			}
		}
	}

	&__title {
		height: 100%;
		margin-left: $margin-table;
		justify-self: self-start;
		@include text-title;
		font-size: 22px;
		line-height: $height-header;
		color: $ocean;
	}

	&__date {
		font-size: 20px;
	}

	&__marks {
		position: relative;
		width: 100%;
		height: 100%;
		overflow: visible;

		div {
			position: absolute;
			top: -3px;
			right: 10%;
			width: 130px;
			bottom: 0;

			display: flex;
			justify-content: space-around;

			@include widthHD {
				right: 120%;
			}

			@include widthMob {
				right: 0;
			}

			svg:hover {
				opacity: 0.5;
			}
		}
	}

	&__price {
		position: relative;
		flex-direction: column;
		align-items: flex-end;

		&-input {
			display: none;

			&+label {
				display: block;
				position: absolute;
				top: 50%;
				right: 100%;
				transform: translateY(-50%);
				width: 20px;

				svg {
					fill: $input-off;
				}
			}

			&:checked+label svg {
				fill: $brown;
			}
		}

		div {
			display: flex;
			align-items: center;

			p {
				margin-right: 5px;
				font-size: 13px;
			}
		}

		.total-debt {
			color: $purple-deep;

			&+svg {
				fill: $purple-deep;
			}
		}

		.total-income {
			color: $grass-dark;

			&+svg {
				fill: $grass-dark;
			}
		}

		.total-pay {
			color: $red-dark;

			&+svg {
				fill: $red-dark;
			}
		}

		.total-wages,
		.middle-wages {
			color: $blue-dark;

			&+svg {
				fill: $blue-dark;
			}
		}
	}
}

#pay:checked~.grid-main .header__checkbox-pay,
#filters:checked~.grid-main .header__checkbox-filters,
#properties:checked~.grid-main .header__checkbox-properties,
#info:checked~.grid-main .header__checkbox-info {
	background: radial-gradient(circle farthest-corner at center center, $paper-title 0%, transparent 80%);

	svg {
		fill: $brown;
	}
}

// Фильтры
.filters {
	height: 0px;
	border-bottom: none;
	overflow: hidden;
	transition: height $timeout;
}

#filters:checked~.grid-main .filters {
	height: 40px;
	border-bottom: 1px solid #698ccc;
}

// Заголовок внутри таблицы
.title {
	background: $paper-title;
}

//! ------------------------   800
@media (max-width: $widthTab) {

	.grid-menu li.grid-menu__find {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 1;
		width: 70px;
	}

	#frame-pass:checked~.grid-main li.grid-menu__find,
	#frame-new:checked~.grid-main li.grid-menu__find,
	#frame-profile:checked~.grid-main li.grid-menu__find,
	#frame-options:checked~.grid-main li.grid-menu__find,
	#frame-help:checked~.grid-main li.grid-menu__find,
	#frame-stat:checked~.grid-main li.grid-menu__find {
		display: none;
	}


	#filters:checked~.grid-main .filters {
		border-bottom: none;
	}

	.header {
		background: $paper-title;

		.grid-table__name {
			display: none;
		}
	}

	.title {
		display: none;
	}
}

//! ------------------------   height

@media (max-height: $height) {

	.header {
		background: $paper-title;
	}

	.title {
		display: none;
	}

}