// Настройка полосы прокрутки
* {
	scrollbar-width: thin;
	scrollbar-color: rgba(0, 0, 0, .1) transparent;

	&::-webkit-scrollbar {
		width: 4px;
	}

	&::-webkit-scrollbar-track {
		background: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background-color: rgba(0, 0, 0, .1);
	}
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	font-family: lato, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 19px;

	position: relative;
	z-index: -5;

	background-color: rgba(#d4be94, 0.9);
	background-image: url(../img/texture-skin.svg);

	&::after,
	&::before {
		content: "";
		position: absolute;
		top: 0;
		width: 40%;
		height: 100%;
		z-index: -1;
		background-color: #fff6e5;
		background-image: url(../img/texture-wood.svg);
		background-size: contain;
	}

	&::after {
		left: 0;
		border-top-right-radius: $height-menu;
	}

	&::before {
		right: 0;
		border-top-left-radius: $height-menu;
	}

	&>input {
		display: none;
	}
}

.container {
	max-width: 1920px;
	margin: 0 auto;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	border: 0;
	clip: rect(0 0 0 0);
}