// Настройка полосы прокрутки
* {
	scrollbar-width: thin;
	scrollbar-color: rgba(0, 0, 0, .1) transparent;

	&::-webkit-scrollbar {
		width: 4px;
	}

	&::-webkit-scrollbar-track {
		background: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background-color: rgba(0, 0, 0, .1);
	}
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	font-family: lato, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 19px;

	position: relative;
	z-index: -5;

	overflow: hidden;

	background: url(../img/texture-skin.svg) rgba(#d4be94, 0.9);

	@include widthLT {
		background: url(../img/texture-wood.svg) #fff6e5;
		background-size: contain;
	}

	&::before,
	&::after {
		content: "";
		position: absolute;
		top: 0;
		width: 45%;
		height: 100%;
		z-index: -1;
		background: url(../img/texture-wood.svg) #fff6e5;
		background-size: contain;

		@include widthLT {
			content: none;
		}
	}

	&::before {
		left: 0;
		border-top-right-radius: $height-menu;

		@include widthHD {
			width: $widthBG-frame;
		}

		@include widthPC {
			width: $widthBG-frame - 2 * $marginPC;
		}
	}

	&::after {
		right: 0;
		border-top-left-radius: $height-menu;

		@include widthHD {
			width: calc(90% - #{$widthBG-frame});
		}

		@include widthHD {
			width: calc(90% - #{$widthBG-frame} - 2 * #{$marginPC});
		}
	}

	&>input {
		display: none;
	}
}

.container {
	max-width: 1920px;
	margin: 0 auto;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	border: 0;
	clip: rect(0 0 0 0);
}


//* --------------------------- Поля

input,
select,
textarea {
	padding: 7px 15px;
	box-sizing: border-box;
	border-radius: $border-radius;
	border: 1px solid $input-border;
	background-color: #fff;
}

button,
.like-button {
	align-self: flex-end;
	width: 150px;
	margin-top: $margin-frame;
	padding: 7px 30px;
	box-sizing: border-box;
	border: 1px solid $brown;
	border-radius: $border-radius;
	background-color: $paper-title;
	color: $brown;

	&:hover {
		font-size: 12px;
		cursor: pointer;
		opacity: 0.5;
	}
}

.select-arrow {
	background-image: url(../img/icon-arrow-down.svg);
	background-position: right 5px center;
	background-repeat: no-repeat;
	background-size: 15px 15px;
}

input.select-arrow {
	background-image: url(../img/icon-arrow-down+.svg);
}

.input-set-wrap {
	position: relative;
	margin-bottom: 0;

	display: flex;
	justify-content: space-between;
	align-items: center;

	svg {
		fill: $ocean;
	}

	input,
	select {
		width: calc(100% - 25px);
		height: 30px;
	}

	p {
		display: none;

		position: absolute;
		top: 100%;
		left: 30px;

		@include text-info;
	}
}

#info:checked~.grid-main .input-set-wrap {
	margin-bottom: 15px;

	p {
		display: block;
	}
}

.input-disabled {
	input {
		order: 2;
	}

	label {
		order: 1;
	}

	input:disabled {
		opacity: 0.5;

		&+label {
			opacity: 0.1;
		}
	}
}


//* ---------------------------------- Цвета
.delete {
	border: 1px solid $delete;
	color: $delete;
}

// ------------------------------------  Вкладки
.tab-all-bgcolor {
	background-color: $tabs-color-all;
}

.tab-first-bgcolor {
	background-color: $tabs-color-first;
}

.tab-second-bgcolor {
	background-color: $tabs-color-second;
}

.tab-third-bgcolor {
	background-color: $tabs-color-third;
}

.tab-four-bgcolor {
	background-color: $tabs-color-four;
}

.tab-five-bgcolor {
	background-color: $tabs-color-five;
}

// ------------------------------------  Закладки
.mark-first-bgcolor {
	background-color: $marks-color-first;
}

.mark-second-bgcolor {
	background-color: $marks-color-second;
}

.mark-third-bgcolor {
	background-color: $marks-color-third;
}

.mark-four-bgcolor {
	background-color: $marks-color-four;
}

.mark-five-bgcolor {
	background-color: $marks-color-five;
}

// ------------------------------------  Стадии
.stage-first-bgcolor {
	background-color: $stages-color-first;
}

.stage-second-bgcolor {
	background-color: $stages-color-second;
}

.stage-third-bgcolor {
	background-color: $stages-color-third;
}

.stage-four-bgcolor {
	background-color: $stages-color-four;
}

.stage-five-bgcolor {
	background-color: $stages-color-five;
}