// Настройка полосы прокрутки
* {
	scrollbar-width: thin;
	scrollbar-color: rgba(0, 0, 0, .1) transparent;

	&::-webkit-scrollbar {
		width: 4px;
	}

	&::-webkit-scrollbar-track {
		background: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background-color: rgba(0, 0, 0, .1);
	}
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	font-family: lato, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 19px;

	position: relative;
	z-index: -5;

	overflow: hidden;

	background: url(../img/texture-skin.svg) rgba(#d4be94, 0.9);

	@include widthLT {
		background: url(../img/texture-wood.svg) #fff6e5;
		background-size: contain;
	}

	&::before,
	&::after {
		content: "";
		position: absolute;
		top: 0;
		width: 45%;
		height: 100%;
		z-index: -1;
		background: url(../img/texture-wood.svg) #fff6e5;
		background-size: contain;

		@include widthLT {
			content: none;
		}
	}

	&::before {
		left: 0;
		border-top-right-radius: $height-menu;

		@include widthHD {
			width: $widthBG-frame;
		}

		@include widthPC {
			width: $widthBG-frame - 2 * $marginPC;
		}
	}

	&::after {
		right: 0;
		border-top-left-radius: $height-menu;

		@include widthHD {
			width: calc(90% - #{$widthBG-frame});
		}

		@include widthHD {
			width: calc(90% - #{$widthBG-frame} - 2 * #{$marginPC});
		}
	}

	&>input {
		display: none;
	}
}

.container {
	max-width: 1920px;
	margin: 0 auto;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	border: 0;
	clip: rect(0 0 0 0);
}