//* Форма. 
// Настройки нажатых вкладок
@mixin form-label-checked {
	border-bottom: 2px solid $ocean;
	font-size: 18px;
	font-weight: 700;
	color: $ocean;
}

// Настройки полей
@mixin form-input {
	display: block;
	box-sizing: border-box;
	border-radius: $border-radius;
	background: #fff;
}

// Настройки кнопок
@mixin form-button {
	display: block;
	box-sizing: border-box;
	border: 1px solid $brown;
	border-radius: $border-radius;
	background: $paper-title;
	color: $brown;

	&:hover {
		font-size: 12px;
		cursor: pointer;
		opacity: 0.5;
	}
}

// Положение дочернего блока
@mixin position-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin position-size-parent {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

// Адаптация
@mixin widthHD {
	@media (max-width:$widthHD) {
		@content;
	}
}

@mixin widthPC {
	@media (max-width: $widthPC) {
		@content;
	}
}

@mixin widthLT {
	@media (max-width: $widthLT) {
		@content;
	}
}

@mixin widthTab {
	@media (max-width: $widthTab) {
		@content;
	}
}

@mixin widthMob {
	@media (max-width: $widthMob) {
		@content;
	}
}

@mixin min-height {
	@media (max-height: $height) {
		@content;
	}
}

// Во избежание предупреждения SCSS
@mixin grid-main {
	header {
		grid-area: header;
	}

	main {
		grid-area: main;
	}
}

@mixin grid-menu {
	&__new {
		grid-area: new;
	}

	&__profile {
		grid-area: profile;
	}

	&__options {
		grid-area: options;
	}

	&__help {
		grid-area: help;
	}

	&__find {
		grid-area: find;
	}

	&__total {
		grid-area: total;
	}
}

@mixin grid-table {
	&__status {
		grid-area: status;
	}

	&__name {
		grid-area: name;
	}

	&__planed {
		grid-area: planed;
	}

	&__set {
		grid-area: set;
	}

	&__note {
		grid-area: note;
	}

	&__price {
		grid-area: price;
	}

	&__type {
		grid-area: type;
	}

	&__partner {
		grid-area: partner;
	}
}