//* Форма. 
// Глобальный выключатель
@mixin options-global-checkbox {
	&::before {
		border: 1px solid $brown;
		background-color: $paper-title;
	}

	svg {
		fill: $brown;
	}
}

//* Подписи
@mixin text-title {
	font-family: cormorant-infant;
	font-style: italic;
	font-weight: 700;
	letter-spacing: 1px;
}

@mixin text-hide-overflow {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

// Информационные подписи
@mixin text-info {
	font-weight: 300;
	font-size: 10px;
	color: $brown;
}

// Положение дочернего блока
@mixin position-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin position-size-parent {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

// Адаптация
@mixin widthHD {
	@media (max-width:$widthHD) {
		@content;
	}
}

@mixin widthPC {
	@media (max-width: $widthPC) {
		@content;
	}
}

@mixin widthLT {
	@media (max-width: $widthLT) {
		@content;
	}
}

@mixin widthTab {
	@media (max-width: $widthTab) {
		@content;
	}
}

@mixin widthMob {
	@media (max-width: $widthMob) {
		@content;
	}
}

@mixin heightMin {
	@media (max-height: $height) {
		@content;
	}
}

// Во избежание предупреждения SCSS
@mixin menu {
	&__new {
		grid-area: new;
	}

	&__profile {
		grid-area: profile;
	}

	&__options {
		grid-area: options;
	}

	&__help {
		grid-area: help;
	}

	&__find {
		grid-area: find;
	}

	&__total {
		grid-area: total;
	}
}

@mixin table {
	&__status {
		grid-area: status;
	}

	&__name {
		grid-area: name;
	}

	&__set {
		grid-area: set;
	}

	&__planed {
		grid-area: planed;
	}

	&__note {
		grid-area: note;
	}

	&__price {
		grid-area: price;
	}

	&__type {
		grid-area: type;
	}

	&__partner {
		grid-area: partner;
	}
}