//* Сетки
// Меню
.grid-nav {
	display: grid;
	grid-template-rows: 80px;
	grid-template-columns: repeat(6, 150px) repeat(2, 1fr) repeat(2, 150px);
	grid-template-areas: "new profile options help . . find find . total";

	&__new {
		grid-area: new;
	}

	&__profile {
		grid-area: profile;
	}

	&__options {
		grid-area: options;
	}

	&__help {
		grid-area: help;
	}

	&__find {
		grid-area: find;
	}

	&__total {
		grid-area: total;
	}
}

// Основная таблица
.grid-main {
	position: relative;
	display: grid;
	grid-template-rows: 40px;
	grid-template-columns: 150px repeat(2, 1fr) repeat(2, 150px) repeat(2, 1fr) repeat(3, 150px);
	grid-template-areas: "status name name planed set note note price type account";
	border-bottom: 1px solid #698ccc;
	background: $paper;

	&__status {
		grid-area: status;
	}

	&__name {
		grid-area: name;
	}

	&__planed {
		grid-area: planed;
	}

	&__set {
		grid-area: set;
	}

	&__note {
		grid-area: note;
	}

	&__price {
		grid-area: price;
	}

	&__type {
		grid-area: type;
	}

	&__account {
		grid-area: account;
	}

	&:hover {
		background: $paper-hover;
	}

	&::after {
		content: "";
		position: absolute;
		left: 150px;
		height: 100%;
		width: 1px;
		background: #ff7f7f;
	}
}

// Заголовок таблицы
.header {
	grid-template-rows: 60px;

	&:hover {
		background: $paper;
	}
}

// Заголовок внутри таблицы
.title {
	background: $paper-title;

	&:hover {
		background: $paper-title;
	}
}

// Категории
.category {
	grid-template-areas: "status name name planed set note note note note note";
}


//* Адаптация
@media (max-width: 1665px) {

	.grid-nav {
		grid-template-columns: repeat(5, 150px) repeat(2, 1fr) 150px;
		grid-template-areas: "new profile options help . find find total";

		&__new {
			grid-area: new;
		}

		&__profile {
			grid-area: profile;
		}

		&__options {
			grid-area: options;
		}

		&__help {
			grid-area: help;
		}

		&__find {
			grid-area: find;
		}

		&__total {
			grid-area: total;
		}
	}

	.grid-main {
		grid-template-columns: 150px repeat(2, 1fr) repeat(2, 150px) repeat(2, 1fr) 150px;
		grid-template-areas: "status name name planed set note note price";

		&__status {
			grid-area: status;
		}

		&__name {
			grid-area: name;
		}

		&__planed {
			grid-area: planed;
		}

		&__set {
			grid-area: set;
		}

		&__note {
			grid-area: note;
		}

		&__price {
			grid-area: price;
		}

		&__type,
		&__account {
			display: none;
		}
	}

	.category {
		grid-template-areas: "status name name planed set note note note";
	}
}

@media (max-width: 1350px) {

	.grid-nav {
		grid-template-columns: repeat(5, 150px) repeat(2, 1fr);
		grid-template-areas: "new profile options help . find find";

		&__new {
			grid-area: new;
		}

		&__profile {
			grid-area: profile;
		}

		&__options {
			grid-area: options;
		}

		&__help {
			grid-area: help;
		}

		&__find {
			grid-area: find;
		}

		&__total {
			display: none;
		}
	}

	.grid-main,
	.category {
		grid-template-columns: 150px repeat(2, 1fr) repeat(2, 150px) repeat(2, 1fr);
		grid-template-areas: "status name name planed set note note";

		&__status {
			grid-area: status;
		}

		&__name {
			grid-area: name;
		}

		&__planed {
			grid-area: planed;
		}

		&__set {
			grid-area: set;
		}

		&__note {
			grid-area: note;
		}

		&__price {
			display: none;
		}
	}

}

@media (max-width: 1050px) {

	.grid-nav {
		grid-template-columns: repeat(5, 150px) 1fr;
		grid-template-areas: "new profile options help find";

		&__new {
			grid-area: new;
		}

		&__profile {
			grid-area: profile;
		}

		&__options {
			grid-area: options;
		}

		&__help {
			grid-area: help;
		}

		&__find {
			grid-area: find;
		}
	}

	.grid-main {
		grid-template-columns: 150px repeat(2, 1fr) repeat(2, 150px);
		grid-template-areas: "status name name planed set";

		&__status {
			grid-area: status;
		}

		&__name {
			grid-area: name;
		}

		&__planed {
			grid-area: planed;
		}

		&__set {
			grid-area: set;
		}

		&__note {
			display: none;
		}
	}
}

@media (max-width: 750px) {

	.grid-nav {
		position: relative;
		grid-template-columns: repeat(4, 1fr);
		grid-template-areas: "new profile options help";

		&__new {
			grid-area: new;
		}

		&__profile {
			grid-area: profile;
		}

		&__options {
			grid-area: options;
		}

		&__help {
			grid-area: help;
		}

		&__find {
			position: absolute;
			right: 0;
		}
	}

	.grid-main {
		grid-template-columns: 150px repeat(2, 1fr) 150px;
		grid-template-areas: "status name name set";

		&__status {
			grid-area: status;
		}

		&__name {
			grid-area: name;
		}

		&__planed {
			display: none;
		}

		&__set {
			grid-area: set;
		}
	}
}

@media (max-width: 600px) {

	.grid-main {
		grid-template-columns: 50px repeat(2, 1fr) 50px;
	}
}