.main-logo {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 70px;
	height: 70px;
	opacity: 0.3;

	svg {
		width: 100%;
		height: 100%;
		fill: $brown;

		@include widthTab {
			fill: #999;
		}
	}

	p {
		display: none;
		font-weight: bold;
		text-align: center;
	}

	@include widthHD {
		width: 4%;
		height: auto;
	}

	@include widthPC {
		top: 5px;
		width: 40px;
		height: 40px;
	}

	@include widthMob {
		display: none;
	}
}

.table__swap {
	position: absolute;
	bottom: 10%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 7;
	width: 240px;
	height: 60px;
	background-color: $paper;

	display: none;
	justify-content: space-between;


	label {
		position: relative;
		height: 100%;
		flex-grow: 1;

		&:hover {
			opacity: 0.5;
			cursor: pointer;
		}
	}

	svg {
		@include position-center;
		fill: $input-off;
	}
}

#table__swap-name:checked~.table__swap .table__swap-name,
#table__swap-set:checked~.table__swap .table__swap-set,
#table__swap-note:checked~.table__swap .table__swap-note,
#table__swap-money:checked~.table__swap .table__swap-money {
	background: radial-gradient(circle farthest-corner at center center, $paper-title 0%, transparent 60%);

	svg {
		fill: $brown;
	}
}


//* Сетка
// Структура
.container {
	position: relative;
	max-width: 1800px;
	width: 90%;
	height: 100%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: "header"
		"main";

	header {
		grid-area: header;
		overflow-y: scroll;
	}

	main {
		grid-area: main;
		overflow-y: scroll;
	}
}

// Меню
.menu {
	display: grid;
	grid-template-columns: repeat(5, 150px) repeat(2, 1fr) repeat(3, 150px);
	grid-template-areas: "new profile options help . find find . . .";

	@include menu;

	&__total {
		display: none;
	}
}

#money:checked~.container .menu {
	grid-template-areas: "new profile options help .  find find . . total";

	&__total {
		display: block;
	}
}

#money-off:checked~.container .menu {
	grid-template-areas: "new profile options help . find find . . .";

	&__total {
		display: none;
	}
}

// Таблица
.table,
.group {
	position: relative;
	display: grid;
	place-items: center;
	grid-template-columns: 150px repeat(2, 1fr) repeat(2, 150px) repeat(2, 1fr) repeat(3, 150px);
	grid-template-areas: "status name name set planed note note . . .";

	@include table;

	&__price,
	&__type,
	&__partner {
		display: none;
	}
}

#money:checked~.container .table {
	grid-template-areas: "status name name set planed note note price type partner";

	&__price,
	&__type,
	&__partner {
		display: block;
	}
}

#money:checked~.container .group {
	grid-template-areas: "status name name set planed note note note note note";
}


//! ------------------------   Адаптивность

@media (max-width: $widthHD) {

	.menu {
		grid-template-columns: repeat(5, 150px) repeat(2, 1fr) 150px;
		grid-template-areas: "new profile options help . find find .";

		@include menu;
	}

	#money:checked~.container .menu {
		grid-template-areas: "new profile options help . find find total";
	}

	.table,
	.group {
		grid-template-columns: 150px repeat(2, 1fr) repeat(2, 150px) repeat(3, 1fr);
		grid-template-areas: "status name name set planed note note note";

		@include table;
	}

	#money:checked~.container .table {
		grid-template-areas: "status name name set planed price type partner";

		&__note {
			display: none;
		}
	}

	#money:checked~.container .group {
		grid-template-areas: "status name name set planed note note note";

		.table__note {
			display: block;
		}
	}

}

//! ------------------------   1350
@media (max-width: $widthPC) {

	.container {
		width: calc(100% - #{$marginPC} - #{$marginPC});
	}

	.menu {
		grid-template-columns: repeat(5, 150px) repeat(2, 1fr);
		grid-template-areas: "new profile options help . find find";

		@include menu;
	}

	#money:checked~.container .menu {
		grid-template-areas: "new profile options help find find total";
	}

	.table,
	.group {
		grid-template-columns: 150px repeat(2, 1fr) repeat(2, 150px) repeat(2, 1fr);
		grid-template-areas: "status name name set planed note note ";

		@include table;
	}

	#money:checked~.container .table {
		grid-template-columns: 150px repeat(2, 1fr) 150px repeat(3, 1fr);
		grid-template-areas: "status name name set price type partner";

		&__planed {
			display: none;
		}
	}

	#money:checked~.container .group {
		grid-template-columns: 150px repeat(2, 1fr) 150px repeat(3, 1fr);
		grid-template-areas: "status name name set note note note";
	}
}

//! ------------------------   1100

@media (max-width: $widthLT) {

	.menu {
		grid-template-columns: repeat(4, 150px) 1fr;
		grid-template-areas: "new profile options help find";

		@include menu;

		&__total {
			display: none;
		}
	}

	#money:checked~.container .menu,
	#table__swap-money:checked~.container .menu {
		grid-template-areas: "new profile options help total";

		&__total {
			display: block;
		}

		&__find {
			display: none;
		}
	}

	.table__swap {
		display: flex;
	}

	#frame-pass:checked~.table__swap,
	#frame-new:checked~.table__swap,
	#frame-profile:checked~.table__swap,
	#frame-options:checked~.table__swap,
	#frame-help:checked~.table__swap,
	#frame-stat:checked~.table__swap {
		display: none;
	}

	.header__money-off {
		display: none;
	}

	#table__swap-name:checked~.container .group,
	#table__swap-name:checked~.container .table {
		grid-template-columns: 150px repeat(2, 1fr) repeat(2, 150px);
		grid-template-areas: "status name name set planed";

		@include table;

		&__set,
		&__planed {
			display: block;
		}

		&__note {
			display: none;
		}

		&__price,
		&__type,
		&__partner {
			display: none;
		}
	}

	#table__swap-name:checked~.container .group {
		grid-template-columns: 150px repeat(2, 1fr) repeat(2, 150px);
		grid-template-areas: "status name name set planed";

		.table__note {
			display: none;
		}
	}

	#table__swap-set:checked~.container .group,
	#table__swap-set:checked~.container .table {
		grid-template-columns: 150px 1fr repeat(2, 150px) 1fr;
		grid-template-areas: "status name set planed note";

		&__set,
		&__planed {
			display: block;
		}

		&__note {
			display: block;
		}

		&__price,
		&__type,
		&__partner {
			display: none;
		}
	}

	#table__swap-note:checked~.container .table {
		grid-template-columns: 150px repeat(4, 1fr);
		grid-template-areas: "status name name note note";

		&__set,
		&__planed {
			display: none;
		}

		&__note {
			display: block;
		}

		&__price,
		&__type,
		&__partner {
			display: none;
		}
	}

	#table__swap-note:checked~.container .group {
		grid-template-columns: 150px repeat(4, 1fr);
		grid-template-areas: "status name name note note";

		.table__planed {
			display: none;
		}
	}

	#table__swap-money:checked~.container .group {
		grid-template-columns: 150px repeat(4, 1fr);
		grid-template-areas: "status name . . .";

		.table__note,
		.table__planed {
			display: none;
		}
	}

	#table__swap-money:checked~.container .header__marks,
	#table__swap-money:checked~.container .header__title {
		display: none;
	}

	#table__swap-money:checked~.container .table {
		grid-template-columns: 150px 1fr repeat(3, 150px);
		grid-template-areas: "status name price type partner";

		&__set,
		&__planed {
			display: none;
		}

		&__note {
			display: none;
		}

		&__price,
		&__type,
		&__partner {
			display: block;
		}
	}
}

//! ------------------------   800
@media (max-width: $widthTab) {

	.container {
		width: 100%;
	}

	.menu {
		grid-template-columns: repeat(4, 1fr) 70px;
		grid-template-areas: "new profile options help find";

		@include menu;

		&__total {
			display: none;
		}
	}

	#money:checked~.container .menu,
	#table__swap-money:checked~.container .menu {
		grid-template-areas: "new profile options help total";
	}

	#table__swap-name:checked~.container .group,
	#table__swap-name:checked~.container .table {
		grid-template-columns: 150px repeat(2, 1fr) 150px;
		grid-template-areas: "status name name set";

		@include table;

		&__set {
			display: block;
		}

		&__planed {
			display: none;
		}

		&__note {
			display: none;
		}

		&__price,
		&__type,
		&__partner {
			display: none;
		}
	}

	#table__swap-name:checked~.container .group {
		grid-template-columns: 150px repeat(2, 1fr) 150px;
		grid-template-areas: "status name name set";

		.table__planed {
			display: none;
		}
	}

	#table__swap-set:checked~.container .group,
	#table__swap-set:checked~.container .table {
		grid-template-columns: repeat(3, 150px) 1fr;
		grid-template-areas: "name set planed note";

		&__status {
			display: none;
		}

		&__set,
		&__planed {
			display: block;
		}

		&__note {
			display: block;
		}

		&__price,
		&__type,
		&__partner {
			display: none;
		}
	}


	#table__swap-note:checked~.container .group,
	#table__swap-note:checked~.container .table {
		grid-template-columns: repeat(4, 1fr);
		grid-template-areas: "name name note note";

		&__status {
			display: none;
		}

		&__set,
		&__planed {
			display: none;
		}

		&__note {
			display: block;
		}

		&__price,
		&__type,
		&__partner {
			display: none;
		}
	}

	#table__swap-money:checked~.container .table {
		grid-template-columns: 1fr repeat(3, 150px);
		grid-template-areas: "name price type partner";

		&__status {
			display: none;
		}

		&__set,
		&__planed {
			display: none;
		}

		&__note {
			display: none;
		}

		&__price,
		&__type,
		&__partner {
			display: block;
		}
	}

	#table__swap-set:checked~.container .header__title,
	#table__swap-note:checked~.container .header__title {
		display: none;
	}
}

//! ------------------------   600
@media (max-width: $widthMob) {

	#table__swap-name:checked~.container .group,
	#table__swap-name:checked~.container .table {
		grid-template-columns: 100px repeat(2, 1fr);
		grid-template-areas: "status name name";

		@include table;

		&__set,
		&__planed {
			display: none;
		}

		&__note {
			display: none;
		}

		&__price,
		&__type,
		&__partner {
			display: none;
		}
	}

	#table__swap-set:checked~.container .table {
		grid-template-columns: 1fr repeat(2, 150px);
		grid-template-areas: "name set planed";

		&__status {
			display: none;
		}

		&__set,
		&__planed {
			display: block;
		}

		&__note {
			display: none;
		}

		&__price,
		&__type,
		&__partner {
			display: none;
		}
	}

	#table__swap-set:checked~.container .group {
		grid-template-columns: 1fr repeat(2, 150px);
		grid-template-areas: "name set planed";

		.table__note {
			display: none;
		}
	}


	#table__swap-note:checked~.container .group,
	#table__swap-note:checked~.container .table {
		grid-template-columns: 100px repeat(2, 1fr);
		grid-template-areas: "name note note";

		&__status {
			display: none;
		}

		&__set,
		&__planed {
			display: none;
		}

		&__note {
			display: block;
		}

		&__price,
		&__type,
		&__partner {
			display: none;
		}
	}


	#table__swap-money:checked~.container .header__checkbox {
		display: none;
	}

	#table__swap-money:checked~.container .table {
		grid-template-columns: repeat(3, 1fr);
		grid-template-areas: "price type partner";

		&__status,
		&__name,
		&__set,
		&__planed {
			display: none;
		}

		&__note {
			display: none;
		}

		&__price,
		&__type,
		&__partner {
			display: block;
		}
	}
}

//! ------------------------   300 OFF
@media (max-width: $turn-off),
(max-height: $turn-off) {

	header,
	main,
	footer,
	aside,
	.table__swap,
	.frame {
		display: none !important;
	}

	.main-logo {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
		padding: 10px;
		opacity: 1;

		display: flex;
		flex-direction: column;
		justify-content: space-around;

		svg {
			width: 100%;
			height: auto;
			fill: $brown;
			opacity: 0.5;
		}

		p {
			display: block;
		}
	}
}