//* Сетка
// Структура
.grid-main {
	position: relative;
	max-width: 1800px;
	width: 90%;
	height: 100%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: "header"
		"main";

	@include grid-main;

	header {
		overflow-y: scroll;
	}

	main {
		overflow-y: scroll;
	}
}

// Меню
.grid-menu {
	display: grid;
	grid-template-columns: repeat(5, 150px) repeat(2, 1fr) repeat(3, 150px);
	grid-template-areas: "new profile options help . find find . . .";

	@include grid-menu;

	&__total {
		display: none;
	}
}

#money:checked~.grid-main .grid-menu {
	grid-template-areas: "new profile options help .  find find . . total";

	&__total {
		display: block;
	}
}

#money-off:checked~.grid-main .grid-menu {
	grid-template-areas: "new profile options help . find find . . .";

	&__total {
		display: none;
	}
}

// Таблица
.grid-table {
	position: relative;
	display: grid;
	place-items: center;
	grid-template-columns: 150px repeat(2, 1fr) repeat(2, 150px) repeat(2, 1fr) repeat(3, 150px);
	grid-template-areas: "status name name planed set note note . . .";

	@include grid-table;

	&__price,
	&__type,
	&__partner {
		display: none;
	}
}

#money:checked~.grid-main .grid-table {
	grid-template-areas: "status name name planed set note note price type partner";

	&__price,
	&__type,
	&__partner {
		display: flex;
	}
}

#money-off:checked~.grid-main .grid-table {
	grid-template-areas: "status name name planed set note note . . .";

	&__price,
	&__type,
	&__partner {
		display: none;
	}
}

// Категории
.group {
	grid-template-areas: "status name name planed set note note . . .";
}


//! ------------------------   Адаптивность

@media (max-width: $widthHD) {

	.grid-menu {
		grid-template-columns: repeat(5, 150px) repeat(2, 1fr) 150px;
		grid-template-areas: "new profile options help . find find .";

		@include grid-menu;
	}

	#money:checked~.grid-main .grid-menu {
		grid-template-areas: "new profile options help . find find total";
	}

	#money-off:checked~.grid-main .grid-menu {
		grid-template-areas: "new profile options help . find find .";
	}

	.grid-table,
	.group {
		grid-template-columns: 150px repeat(2, 1fr) repeat(2, 150px) repeat(2, 1fr) 150px;
		grid-template-areas: "status name name planed set note note note";

		@include grid-table;
	}

	#money:checked~.grid-main .grid-table {
		grid-template-areas: "status name name planed set note note price";

		&__price {
			display: flex;
		}

		&__type,
		&__partner {
			display: none;
		}
	}

	#money:checked~.grid-main .group {
		grid-template-areas: "status name name planed set note note note";
	}

	#money-off:checked~.grid-main .grid-table {
		grid-template-areas: "status name name planed set note note note";

		&__price {
			display: none;
		}
	}
}

//! ------------------------   1350
@media (max-width: $widthPC) {

	.grid-main {
		width: calc(100% - #{$marginPC} - #{$marginPC});
	}

	.grid-menu,
	#money:checked~.grid-main .grid-menu {
		grid-template-columns: repeat(5, 150px) repeat(2, 1fr);
		grid-template-areas: "new profile options help . find find";

		@include grid-menu;

		&__total {
			display: none;
		}
	}

	.grid-table,
	.group,
	#money:checked~.grid-main .grid-table {
		grid-template-columns: 150px repeat(2, 1fr) repeat(2, 150px) repeat(2, 1fr);
		grid-template-areas: "status name name planed set note note";

		@include grid-table;

		&__price {
			display: none;
		}
	}
}

//! ------------------------   1100

@media (max-width: $widthLT) {

	.grid-menu,
	#money:checked~.grid-main .grid-menu {
		grid-template-columns: repeat(4, 150px) 1fr;
		grid-template-areas: "new profile options help find";

		@include grid-menu;
	}

	.grid-table,
	.group,
	#money:checked~.grid-main .grid-table {
		grid-template-columns: 150px repeat(2, 1fr) repeat(2, 150px);
		grid-template-areas: "status name name planed set";

		@include grid-table;

		&__note {
			display: none;
		}
	}
}

//! ------------------------   800
@media (max-width: $widthTab) {

	.grid-main {
		width: 100%;
	}

	.grid-menu,
	#money:checked~.grid-main .grid-menu {
		grid-template-columns: repeat(4, 1fr) 70px;

		@include grid-menu;
	}

	.grid-table,
	.group,
	#money:checked~.grid-main .grid-table {
		grid-template-columns: $width-status-tab repeat(2, 1fr) 20% 40px;
		grid-template-areas: "status name name planed set";

		@include grid-table;
	}
}

//! ------------------------   500
@media (max-width: $widthMob) {

	.grid-table,
	.group,
	#money:checked~.grid-main .grid-table {
		grid-template-columns: $width-status-tab repeat(2, 1fr) 40px;
		grid-template-areas: "status name name set";

		@include grid-table;

		&__planed {
			display: none;
		}
	}
}

//! ------------------------   300 OFF
@media (max-width: $turn-off),
(max-height: $turn-off) {

	header,
	main,
	footer,
	aside,
	.panel-swap,
	.frame {
		display: none !important;

	}
}