$widthHD: 1665px; // Плавающая панель или отключаются 2 последних столбца
$widthPC: 1350px; // Отключается 3й из финансового блока столбец
$widthLT: 1100px; // Отключается "Примечание"
$widthTab: 800px; // Мобильная версия (2 части)
$widthMob: 600px; // Минимальный вариант



//* Цвета

$paper: #faf9f2;
$paper-todo: #faf6e1;
$paper-title: #faf4d4;
$paper-hover: #fff;

$brown: #592800;


//* Зависимые переменные
$height-menu: 60px;
$height-header: 60px;

$width-todo: 300px;
$todo-head: 50px;

$timeout: 300ms;


//* Прочее
$border-radius: 5px;
$shadow: -1px 2px 3px 0px #999;