$widthHD: 1665px; // Плавающая панель или отключаются 2 последних столбца
$widthPC: 1350px; // Отключается 3й из финансового блока столбец
$widthLT: 1100px; // Отключается "Примечание"
$widthTab: 800px; // Мобильная версия (2 части)
$widthMob: 500px; // Минимальный вариант

$height: 700px;
$turn-off: 300px;

//* Цвета

$paper: #faf9f2;
$paper-todo: #faf6e1;
$paper-title: #faf4d4;
$paper-hover: #fff;
$paper-frame: rgba(#fff, 0.7);

$brown: #592800;
$ocean: #080060;
$blue: #698ccc;

$close: #333;
$delete: #ca0000;

$input-border: #ddd;

// Вкладки
$tabs-color-all: #e5df8a;
$tabs-color-first: #cbe595;
$tabs-color-second: #ffb2d9;
$tabs-color-third: #ffcc99;
$tabs-color-four: #c2def2;
$tabs-color-five: #cec2f2;

// Закладки
$marks-color-first: #ff9999;
$marks-color-second: #fff266;
$marks-color-third: #c2f2f2;
$marks-color-four: #ccccff;
$marks-color-five: #b8e5a1;

// Стадии
$stages-color-first: #ffb2d9;
$stages-color-second: #c2def2;
$stages-color-third: #ffcc99;
$stages-color-four: #cec2f2;
$stages-color-five: #cbe595;

//* Зависимые переменные

$height-menu: 50px;
$height-header: 50px;
$height-footer: 20px;

$width-todo: 300px;
$todo-head: 50px;

// Выравнивание ширины правой стороны при адаптации
$widthBG-frame: 750px;
$marginPC: 30px;
$width-manage: 40%;
$widthHD-manage: 600px;

// Выравнивание отступов для Frame
$margin-frame: 30px;
$margin-frame-up: 20px;


//* Прочее
$border-radius: 5px;
$shadow: -1px 2px 3px 0px #777;
$shadow-frame: -1px 1px 2px 0px #aaa;
$timeout: 300ms;